    /* Html */
    
    body {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    
    p {
        color: #886F6F;
        font-weight: bold;
    }
    
    footer {
        background-color: black;
    }
    /* Containers */
    
    .container-fluid {
        padding: 7% 15%;
    }
    /* Sections */
    
    .colored-section {
        background-color: #C1A3A3;
        color: #FDF6EC;
    }
    
    .white-section {
        background-color: white;
        color: black
    }
    /* Title*/
    
    .heading-title {
        margin-right: 0.1%;
        padding: 60px;
        font-size: 35px;
    }
    
    .navbar-brand {
        color: white;
        font-size: 4rem;
        font-weight: bold;
        text-shadow: 2px 3px 0 #101010, 1px 3px 0 rgba(0, 0, 0, 0.15);
    }
    
    #title .container-fluid {
        padding: 3% 15% 7%;
    }
    
    @media (max-width: 900px) {
        #header-container {
            display: block;
            overflow: scroll;
        }
        .thankyou-image {
            position: static;
            width: 50%;
        }
        .navbar-brand {
            font-size: xx-large;
            text-shadow: none;
        }
    }
    
    @media (max-width: 870px) {
        .contact-section .col-md-6 {
            width: 100%;
        }
        .navbar-brand2 {
            margin: 10% 25%;
        }
    }